.p-todolist {
    width: 100%;
    max-width: 360px;
    background-color: #F5F5F5;
}

.p-todolist .checked-txt {
    text-decoration: line-through;
}

.p-todolist .items-left-txt {
    text-align: left;
    padding-left: 15px;
}